 
table {
	tr{
		th{
		background: #222;
		color: #fff;
		padding: 0;
		border: 1px solid #111;
		}

		td{
		border:1px #ccc solid;
		padding:5px;
		.rightright{
		background: #eee;
		}
		h4{
			margin:0;
			padding:0;
			font-weight:normal;
		}
		}
	}
}